*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Montserrat';

}
html,body{
    width: 100%;
    height: 100%; 
}
#nav{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    /* background-color: brown; */
    padding: 0 120px;
    position: fixed;
    z-index: 99;
}
#nav img{
    size: 75px;
}
#cursor{
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
        width: 400px;
        background-color: #96c11e33;
        border-radius: 50%;
        position: fixed;
        filter: blur(40px);
        z-index: 9;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.438);
}

#page{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page h1::before{
    content: "EAT.DRINK.PLAY.";
    position: absolute;
    color: #000;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -1;
}
#page h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}
#page h2 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page p {
    font-size: 20px;
    font-weight: 400;
    width: 40%;
}
#page2{
    min-height: 100vh;
    /* height: 100vh; */
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy,sans-serif;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about_us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;

}
#about_us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
width: 40%;
text-align: center;
}
#about-us-in h3{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: capitalize;
}
#about-us-in p{
    font-size: 20px;
    line-height: 20px;
}
#card-container{
    /* background-color: red; */
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    /* background-color: rgb(16, 159, 255); */
    border-radius: 20px;
    background-position: center;
}
#card1{
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2{
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}